*{
    padding: 0;
    margin: 0;
}
.logos {
    background-color: coral;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.logos img {
    height: 50px;
}

/* .flex_container div{

    border: 1px solid black;
    width: 150px;
    height: 150px;
}
.flex_container{
    display: flex;
    flex-direction: row; /*определяет направление основной оси*/
    /* justify-content: space-around;
    flex-wrap: wrap;
} */ 

/*flex-direction -  
justify-content - выравнивание вдоль основной оси
alight-items - выравнивание вдоль второстепенной оси

*/