.list{
  padding: 10px;
  padding-left: 40px;
  border: 2px solid black;
}
    ul{
        list-style: circle;
        font-size: 20px;
        font-weight: 100px;
    }
table{
    border-collapse: collapse;
}
/*.colored{
    background-color: rgb(220, 220, 220);
}*/
/*table tr:first-child{
    background-color: rgb(220,220,220);
}*/
table tr:last-child{
    background-color: rgb(6, 22, 250);
}
table tr:nth-child(4n-3){/* покраска линии или столбца натуральное число*/
    background-color: rgb(250, 22, 212);
}
table tr:nth-child(4n-2){/* покраска линии или столбца натуральное число*/
    background-color: rgb(250, 22, 22);
}
table tr:nth-child(4n-1){/* покраска линии или столбца натуральное число*/
    background-color: rgb(22, 250, 41);
}
table tr:nth-child(4n){/* покраска линии или столбца натуральное число*/
    background-color: rgb(250, 208, 22);
}

/*table tr:nth-child(2n-1) 1
table tr:nth-child(2n-1) 3
table tr:nth-child(2n-1) 5
table tr:nth-child(2n-1) 7
table tr:nth-child(2n-1) 9*/
